<h1>Words and Definitions</h1>

<ul>
  <% @word_list_strings.each() do |word| %>
  <li><a href="#"><%= word %></a></li>
  <% end %>
</ul>

<p>
  <a href="/words/new">Add New Word and Definition</a>
</p>
