<h1>Words and Definitions</h1>

<p>
  <a href="#">Add New Word and Definition</a>
</p>

<ul>
  <!-- <% @contacts.each() do |contact| %>
  <li><a href="/contacts/<%= contact.id %>/info"><%= contact.name() %></a></li>
  <% end %> -->
</ul>
