<p>
  <a href="/">Home</a>
</p>

<h1>Words and Definitions</h1>

<form action="/" method="post">
  <label for="word">New Word</label>
  <input type="text" name="word">

  <label for="definition">Definition</label>
  <input type="text" name="definition">

  <button type="submit">Submit</button>
</form>
